version: "3"
services:
  ui:
    build: ./ui
    environment:
      - NODE_ENV=development
    ports:
      - "8080:8080"
    links:
      - app

  app:
    build: ./app
    environment:
      - PYTHONUNBUFFERED=TRUE
    ports:
      - "8081:5000"
    links:
      - db

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: "517ca3dd-35a8-4c4a-8449-ec9151a4cd14"
    volumes:
      - ./bd_init/bd_init.sql:/docker-entrypoint-initdb.d/dump.sql/:ro
    ports:
      - "8082:3306"
    security_opt:
      - seccomp:unconfined
